<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsable footer__section">
        <header class="collapsable__header">
          <h2 class="collapsable__heading footer__heading">Item 1</h2>
          <svg class="icon icon--white collapsable__chevron">
            <use xlink:href="svgs/solid-sprit.svg#arrow-circle-down"></use>
          </svg>
        </header>
        <div class="collapsable__content">
          <ul class="list">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsable footer__section">
        <header class="collapsable__header">
          <h2 class="collapsable__heading footer__heading">item 2</h2>
          <svg class="icon icon--white collapsable__chevron">
            <use xlink:href="svgs/solid-sprit.svg#arrow-circle-down"></use>
          </svg>
        </header>
        <div class="collapsable__content">
          <ul class="list">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsable footer__section">
        <header class="collapsable__header">
          <h2 class="collapsable__heading footer__heading">item 3</h2>
          <svg class="icon icon--white collapsable__chevron">
            <use xlink:href="svgs/solid-sprit.svg#arrow-circle-down"></use>
          </svg>
        </header>
        <div class="collapsable__content">
          <ul class="list">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsable footer__section">
        <header class="collapsable__header">
          <h2 class="collapsable__heading footer__heading">item 4</h2>
          <svg class="icon icon--white collapsable__chevron">
            <use xlink:href="svgs/solid-sprit.svg#arrow-circle-down"></use>
          </svg>
        </header>
        <div class="collapsable__content">
          <ul class="list">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>
      </section>
      <section class="footer__brand">
        <img class="nav__img" src="images/ryksoft-logo-white.png" alt="">
        <p class="footer__copyright">Copyright 2021 RYKSOFT</p>
      </section>
    </div>
  </footer>