<div class="collapsable collapsable--expanded">
  <header class="collapsable__header">
    <h2 class="collapsable__heading">Item collapsable</h2>
    <svg class="icon icon--white collapsable__chevron">
      <use xlink:href="svgs/solid-sprit.svg#arrow-circle-down"></use>
    </svg>
  </header>
  <div class="collapsable__content">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ipsa
      voluptatibus, distinctio cupiditate ut dicta molestiae consequatur iusto
      alias consectetur sequi non maxime nam dolorem reiciendis! Est laudantium
      dolore cum.
    </p>
  </div>
</div>
<script src="js/func.js"></script>
