<nav class="nav collapsable">
  <a href="#"
    ><img class="nav__img" src="images/ryksoft-logo-white.png" alt=""
  /></a>
  <span class="icon-container nav-toggler-container">
    <svg class="icon nav-toggler">
      <use xlink:href="svgs/solid-sprit.svg#grip-lines"></use>
    </svg>
  </span>
  <ul class="list nav__list collapsable__content">
    <li class="nav__item"><a href="#">Shamas</a></li>
    <li class="nav__item"><a href="#">Sami</a></li>
    <li class="nav__item"><a href="#">ZBC</a></li>
  </ul>
</nav>
